# SAPOS Sachsen-Anhalt HEPS / NTRIP
# Aktuelle Zugangsdaten bitte vor Einsatz beim LVermGeo prüfen.
NTRIP_HOST=4G.sapos-lsa-ntrip.de
NTRIP_PORT=2101
NTRIP_MOUNTPOINT=VRS_3_4G_ST
NTRIP_USER=user
NTRIP_PASSWORD=user
